<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/head1"><meta charset="utf-8" ></head>


<body onload="" class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

 <!-- Navbar -->
   	<nav th:replace="fragments/nav"></nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
	<aside th:replace="fragments/aside"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Estatísticas</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/}" href="../../index.html">Home</a></li>
              <li class="breadcrumb-item active">Estatísticas</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
	    <div class="row">
	      <div class="col-md-12">
	        <div class="card card-danger">
	          <div class="card-header">
	            <h3 class="card-title">Crítico</h3>
	          </div>
	          <div class="card-body">
	            <div class="col mr-2">
	              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Mensagem</div>
	              <div class="row no-gutters align-items-center">
	                <div class="col-auto">
	                  <div id="txtCritical" class="h5 mb-0 mr-3 font-weight-bold text-gray-800" align="justify">Sem notificação</div>
	                </div>
	              </div>
	            </div>
	          </div>
	          <!-- /.card-body -->
	        </div>
	        <!-- /.card -->
	      </div>
	      <!-- /.col -->
	    </div>
	    
    	<br /><br />
	    
        <div class="row">
	      <div class="col-md-6">
	        <div class="card card-warning">
	          <div class="card-header">
	            <h3 class="card-title">Atenção</h3>
	          </div>
	          <div class="card-body">
	            <div class="col mr-2">
	              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Mensagem</div>
	              <div class="row no-gutters align-items-center">
	                <div class="col-auto">
	                  <div id="txtWarning" class="h5 mb-0 mr-3 font-weight-bold text-gray-800" align="justify">Sem notificação</div>
	                </div>
	              </div>
	            </div>
	          </div>
	          <!-- /.card-body -->
	        </div>
	        <!-- /.card -->
	      </div>
	      <!-- /.col -->
	        
	      <div class="col-md-6">
	        <div class="card card-info">
	          <div class="card-header">
	            <h3 class="card-title">Informação</h3>
	          </div>
	          <div class="card-body">
	            <div class="col mr-2">
	              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Mensagem</div>
	              <div class="row no-gutters align-items-center">
	                <div class="col-auto">
	                  <div id="txtInfo" class="h5 mb-0 mr-3 font-weight-bold text-gray-800" align="justify">Sem notificação</div>
	                </div>
	              </div>
	            </div>
	          </div>
	          <!-- /.card-body -->
	        </div>
	        <!-- /.card -->
	      </div>
	      <!-- /.col -->
        </div>
	    <!-- /.row -->       
        
      </div>
      <!-- /.container-fluid -->
    </section>       
    <!-- /.content -->
 </div>
  
  <!-- /.content-wrapper -->
 	<footer class="main-footer" th:replace="fragments/footer"> </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Summernote -->
<script src="../../plugins/summernote/summernote-bs4.min.js"></script>
<!-- SweetAlert2 -->
<script th:src="@{plugins/sweetalert2/sweetalert2.min.js}" src="plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script th:src="@{plugins/toastr/toastr.min.js}" src="plugins/toastr/toastr.min.js"></script>
<!-- Page Script -->
<script>
  $(function () {
    //Add text editor
    $('#t1').summernote()   
  })
</script>
</body>
</html>
